@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Support:</strong> <a href="mailto:galt.contact@gmail.com">galt.contact@gmail.com</a><br />
    <strong>Twitter:</strong> <a target="_blank" href="https://twitter.com/ProjectGalt/">@@ProjectGalt</a>
</address>
