<html>
<head>

</head>
<body>
    <environment names="Development">
        <script src="http://localhost:8080/dist/build.js"></script>
    </environment>
    
    <environment names="Production">
        <script src="~/dist/build.js"></script>
    </environment>
</body>
</html>