@using Galt.Services
@{ 
    ViewData["Title"] = "Home";
}
@{
    Token token = (Token)ViewData[ "Token" ];
    string email = (string)ViewData[ "Email" ];
    IEnumerable<string> providers = (IEnumerable<string>)ViewData[ "Providers" ];
    string providerNames = providers == null ? string.Empty : string.Join( ",", providers.Select( p => string.Format( "'{0}'", p ) ) );
}

<html>
<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="./favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">

<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<head>
</head>
<body>
    <div id="app"></div>

    <script>
        (function () {
            var galt = (function () {
                var identity = null;

                var getIdentity = function () {
                    return identity;
                };

                var setIdentity = function (i) {
                    identity = i;
                };

                return {
                    getIdentity: getIdentity,
                    setIdentity: setIdentity
                };
            })();

            this.GaltProject = this.GaltProject || {};
            this.GaltProject.Galt = galt;
        })();
    </script>

    @if ( token != null && email != null )
    {
        <script>
            (function () {
                GaltProject.Galt.setIdentity({
                    bearer: {
                        access_token: '@token.AccessToken',
                        expires_in: @token.ExpiresIn
                    },
                    email: '@email',
                    boundProviders: [@Html.Raw( providerNames )]
                });
            })();
        </script>
    }

    <environment names="Development">
        <script src="http://localhost:8080/dist/build.js"></script>
    </environment>
    
    <environment names="Production">
        <script src="~/dist/build.js"></script>
    </environment>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.js"></script>
</body>
</html>