@{
    ViewData["Title"] = "Home";
}

<div id="app">
    <p>{{ message }}</p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
<script src="~/js/app.js"></script>
